h1{
	text-align:center;
}

form{
	margin: auto 0;
}

form div{
	margin: 1%;
}

input:not([type=radio]), textarea{
	margin:8px;
	width:350px;
}
.radio{
	width: 2em;
   	height: 2em;
}
label{
	margin-left:1px;
	display: inline-block;
	width:150px;
}
.btn {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px;
  cursor: pointer;
  width:350px;
}
.form_style1{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
  align-items:center;
   
}

.form_style2{
   display:flex;
  
   text-align:left;
   flex-direction: column;
   flex-wrap: wrap;
   border-style:groove;
   width:600px;
   margin:50px;   
}