@charset "UTF-8";

h1 {
  text-align: center;
}

form-container {
  height: 100%;
}

form {
  width: 38%;
  margin: 0 auto;
  border: 1px solid black;
}

form div {
  margin: 4% 7px;
}

input:not([type="submit"]) {
  border: 1px solid black;
  margin: 8px;
  width: 350px;
  height: 20px;
  font-size: 20px;
}

label {
  margin-left: 1px;
  display: inline-block;
  width: 150px;
}

.button {
  background-color: green;
  border: none;
  color: white;
  padding: 10px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  width: 200px;
  margin: 2%;
  cursor: pointer;
}

.red{
	background-color: red;
}

.item-container{
	display: grid;
	grid-template-columns: auto auto; 
}

.item-container form{
	width: 90%;
	margin: 2%;
}